body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-section {
  flex: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.portfolio-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 70%;
  height: 70%;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay-content h3,
.overlay-content p {
  margin: 0;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}
